# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    my.cnf                                             :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: dbonilla <dbonilla@student.42urduliz.co    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/04/20 19:12:05 by dbonilla          #+#    #+#              #
#    Updated: 2025/04/20 19:12:06 by dbonilla         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]
bind-address = 0.0.0.0
port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
